@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Share+Tech+Mono&display=swap');

:root {
    --font-headers: 'Share Tech Mono', monospace;
    --font-body: 'Roboto', sans-serif;
    --font-color: #fff;
    --base-color: hsl(266, 31%, 37%);
    --mobile-font-title: 3.4rem;
    --mobile-font-body: 1.1rem;
    --tablet-font-title: 6rem;
    --tablet-font-body: 1.3rem;
    --desktop-font-title: 10rem;
    --desktop-font-body: 1.4rem;
    --text-shadow-color: rgba(218, 218, 218, 0.2);
    --text-shadow-width: 8px;
    --text-shadow:
        1px -5px var(--text-shadow-width) var(--text-shadow-color),
        2px -4px var(--text-shadow-width) var(--text-shadow-color),
        3px -3px var(--text-shadow-width) var(--text-shadow-color),
        4px -2px var(--text-shadow-width) var(--text-shadow-color),
        5px -1px var(--text-shadow-width) var(--text-shadow-color),
        -1px 5px var(--text-shadow-width) var(--text-shadow-color),
        -2px 4px var(--text-shadow-width) var(--text-shadow-color),
        -3px 3px var(--text-shadow-width) var(--text-shadow-color),
        -4px 2px var(--text-shadow-width) var(--text-shadow-color),
        -5px 1px var(--text-shadow-width) var(--text-shadow-color);
}

::selection {
    background: var(--font-color);
    color: var(--base-color);
}
